html {
  box-sizing: border-box;
  background:url('https://i.pinimg.com/originals/de/02/e4/de02e423b8fc436d12ce38b3b1957f8a.jpg') center no-repeat;
  background-size:cover;
  min-height:100vh;
  display:flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: Futura,"Trebuchet MS",Arial,sans-serif
}
*, *:before, *:after {box-sizing: inherit; }

svg {
  fill:white;
  background: rgba(0,0,0,0.1);
  padding: 20px;
  border-radius: 50%;
  width:200px;
  margin-bottom: 50px;
}

.wrapper {
  padding: 20px;
  max-width: 350px;
  background: rgba(255,255,255,0.95);
  box-shadow: 0 0 0 10px rgba(0,0,0,0.1);
}

h2 {
  text-align: center;
  margin: 0;
  font-weight: 200;
}

.plates {
  margin: 0;
  padding: 0;
  text-align: left;
  list-style: none;
}

.plates li {
  border-bottom: 1px solid rgba(0,0,0,0.2);
  padding: 10px 0;
  font-weight: 100;
  display: flex;
}

.plates label {
  flex:1;
  cursor: pointer;

}

.plates input {
  display: none;
}

.plates input + label:before {
  content: '⊛️';
  margin-right: 10px;
}

.plates input:checked + label:before {
  content: '❂';
}

.add-items {
  margin-top: 20px;
}

.add-items input {
  padding:10px;
  outline:0;
  border:1px solid rgba(0,0,0,0.1);
}
.navigation{
  display: flex;
}

.navigation a{
  background-repeat: no-repeat;
  width: 12px;
  height: 12px;
  cursor: pointer;
  background-size: contain;
  margin-left: 13px;
}
.remove-item{
  display: block;
  background-image: url(https://www.flaticon.com/svg/static/icons/svg/447/447047.svg);
}
.edit-item{
  display: block;
  background-image: url(https://www.flaticon.com/svg/static/icons/svg/1159/1159633.svg);
}

.save-item{
  display: none;
  background-image: url(https://www.flaticon.com/svg/static/icons/svg/2983/2983818.svg);
}

.cover {
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.75);
  display: none;
}
.cover.is-blacked-out {
  display: block;
}

.popupModal{
  height: auto;
  width: 100%;
  max-width: 562px;
  background-color: #fff;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  padding: 45px;
  opacity: 0;
  pointer-events: none;
  transition: all .3s ease-in-out;
  z-index: 11;
}

.popupModal.is--visible {
  opacity: 1;
  pointer-events: auto;
}

button{
  background-color: white;
  border: 1px solid #272525;
  padding: 8px;
  width: 95px;
  border-radius: 5px;
  font-size: 14px;
  margin-top: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover{
  background-color: #76c3f43b;
}

.btn-true{
  margin-right: 20px;
}
